@if (control()) {
  <mat-form-field appearance="outline" subscriptSizing="dynamic" [ngClass]="formFieldClass()">
    <mat-label>{{ label() }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [formControl]="control()"
      [id]="name()"
      (blur)="onBlur()"
    >
    <mat-hint>DD/MM/YYYY</mat-hint>
    @if (control().value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearDate($event)" type="button">
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>
      <app-error-input
        [control]="control()"
        [controlName]="name()"
        [customErrorMessages]="customErrorMessages()"
        [isFormSubmitted]="isFormSubmitted()"
      ></app-error-input>
    </mat-error>
  </mat-form-field>
}
