@use '@angular/material' as mat;
@use 'app/scss/colors';
@use 'app/scss/spacing';
@use 'app/scss/typography';
@use 'ngx-toastr/toastr';

@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
